{% extends 'table.html.twig' %}

{% block title %}New Chambre{% endblock %}
{% block tablename %}Nouvelle Chambre{% endblock %}
{% block button %}
    <a href="{{ path('app_chambre_index') }}" class="btn btn-block btn-dark btn-sm"><i class="fas fa-arrow-left mr-2"></i>Retour</a>
{% endblock %}
{% block table %}

    {{ include('chambre/_form.html.twig') }}

{% endblock %}
